# Importación de librerías

In [14]:
import pandas as pd # importar la biblioteca pandas

# Importación de datos

In [15]:
df = pd.read_csv('Mall_Customers.csv') # Cargar datos desde un archivo CSV

# Visualización de datos

## Primeras 5 filas

In [16]:
print(df.head()) # Primeras 5 filas de datos

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## Selección de las variables annual income y spending score para las primeras 15 observaciones

In [17]:
print(df.loc[0:14, ['Annual Income (k$)', 'Spending Score (1-100)']]) # Selección de las variables annual income y spending score para las primeras 15 observaciones.

    Annual Income (k$)  Spending Score (1-100)
0                   15                      39
1                   15                      81
2                   16                       6
3                   16                      77
4                   17                      40
5                   17                      76
6                   18                       6
7                   18                      94
8                   19                       3
9                   19                      72
10                  19                      14
11                  19                      99
12                  20                      15
13                  20                      77
14                  20                      13

## Selección de las primeras 5 mujeres con mayor annual income

In [18]:
print(df[df['Gender'] == 'Female'].sort_values(by='Annual Income (k$)', ascending=False).iloc[0:5, :]) # Selección de las primeras 5 mujeres con mayor annual income.

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
196         197  Female   45                 126                      28
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
193         194  Female   38                 113                      91
191         192  Female   32                 103                      69

# Obtención de estadisticas básicas con la función describe() de Pandas

Con ayuda del promedio y la desviación estandar se puede ver que la edad de los consumidores de este centro comercial suele rondar entre 24 y 52 años aproximadamente.

In [19]:
print(df.describe()) # Obtención de estadisticas básicas con la función describe() de Pandas

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000